.container {
  display: block;
  position: relative;
  text-align: center;
}

h2 {
  color: white;
}

/* @property --progress {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
} */

.outer {
  height: 140px;
  width: 140px;
  --color: darkblue;
  inset: 0;
  border-radius: 50%;
  margin: auto;
  background: conic-gradient(var(--color) 0%, rgb(204, 202, 202) 0%);
  animation-fill-mode: forwards;
}

.inner {
  height: 100px;
  width: 100px;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: conic-gradient(var(--color) 0%, gray 0%);
}

.outer[timercircle='1'] {
  animation: timercircle 20s linear;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 500px) {
  .inner {
    height: 80px;
    width: 80px;
  }

  .outer {
    height: 90px;
    width: 90px;
  }
}

/* @keyframes timercircle {
  50% {
      --progress: 50%;
  }

  100% {
      --progress: 100%;
  }
} */